.bgimg2{
	background-image: url('https://img.freepik.com/free-vector/digital-mobile-smartphone-technology-background-with-circuit-diagram_1017-21004.jpg?w=1060&t=st=1672309665~exp=1672310265~hmac=1e0e518cd6e29598014bfe9dc16c835e66dd02b1d50e219657394b2b6fd371d1.jpg');
	background-size: cover;
	height: 150vh;
}
.mobilehead{
	color: white;
	font: robotic;
	font-weight: bold;
	font-size: 35px;
	padding: 25px;
}
.layoutcard2{
       background-color: white;
       border-radius: 8px;
       padding: 20px;
       margin: 18px;
}
.brandsimg{
	width: 120px;
	height: 120px;
}
.brandshead{
	color: #041836;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 30px;
}
.brandspara{
	color: black;
	font-family: 'Roboto';
	font-size: 15px;
}
.first{
	background-color: orange;
	border: none;
}